* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5c5c), color-stop(55%, #fe9090), to(#febbbb));
  background: linear-gradient(to bottom, #ff5c5c 0%, #fe9090 55%, #febbbb 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .game_title, .game .game_title_result {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 36px 0;
}

.game {
  background: #ffffff;
  width: 800px;
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
}

.game .game_field {
  height: 84%;
}

.game .game_field .container {
  height: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.game .game_field .container .game_field_row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .game_field .container .game_field_row .field_box {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  border: 1px solid #bababa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bababa;
}

.game .game_field .container .game_field_row .field_box .field_box_button button {
  color: #5b4e43;
  font-size: 16px;
  border-radius: 24px;
  padding: 16px 38px;
  background: #ecc559;
}

.game .game_field .container .game_field_row .field_box .field_box_button button:hover {
  background: #ebba34;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.301);
          box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.301);
}

.game .game_field .container .game_field_row .field_timer {
  margin: 20px 0px 0px 0px;
}

.game .game_field .container .game_field_row .field_timer .field_timer_title {
  color: #bababa;
  font-size: 13px;
  letter-spacing: 0.6px;
  margin: 0px 0px 10px 0px;
}

.game .game_field .container .game_field_row .field_timer input {
  border: 1.05px solid #3f3e3e;
  border-radius: 5px;
  padding: 10px 10px 10px 15px;
}

.game .game_field .container .game_field_row .field_timer input:focus {
  border: 1.05px solid #e1c066;
  -webkit-box-shadow: 0px 0px 4px #e1c066;
          box-shadow: 0px 0px 4px #e1c066;
}

.hide {
  display: none;
}

.trigger {
  border: 1.05px solid #f70000;
}
